html body {
    background-color: #7118D6;
    color:white;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1em;
	font-style: italic;
}

#header-nav {
	background-color: #000000!important;
}

.state-box {
	margin: 40px 20px 0px 20px;
	border-radius: 15px;
	padding: 20px;
	height: 100%;
}

.add-form {
	border-radius: 15px;
	padding: 10px 10px 10px 10px;
	border-width: 1px;
	border-style: dashed;
}

.add-form form input {
	  border-radius: 5px;
    background-color: white;
    border-style: hidden;
    opacity: 0.85;
    max-width: 150px;
    color: grey;
}

.add-form form div {
	margin-bottom: 10px;
}

a {
	color: white;
}

a:hover {
	font-weight: bolder;
	color: white;
}

#delete {
	color: #ad0a28;
	border-color: #ad0a28;
}

.dates {
	margin-top: 20px;
	font-size: 13px;
}

#datelabel {
	margin-bottom: 0px;
	font-weight: lighter;
}

#date {
	max-width: 19ch;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: lighter;
}

#delete:hover {
	background: #ad0a28;
	color: white;
}

#addtask {
	margin-top: 10px;
	color: #065da0;
	font-size: 20px;
	padding: 8px 12px 8px 12px;
	margin-bottom: 10px;
}

#addtask:hover {
	margin-top: 10px;
	color: white;
	font-size: 20px;
	padding: 8px 12px 8px 12px;
	margin-bottom: 10px;
	background-color: #065da0;
}


#friends-div, #chat-div {
	background-color: #01AC99;
	margin-left: 40px;
}

#chat-box {
	background-color: white;
	margin: 20px;
	border-radius: 10px;
	padding-bottom: 15px;
	padding-top: 10px;
}

.chat-msg-wrapper {
	width: 100%
}

.chat-msg {
	background-color: #FFD634;
	color: black;
	max-width: 40%;
	margin: 10px 10px;
	padding: 2px 5px;
	border-radius: 5px;
}

#schedule-div {
	background-color: #FFD634;
	color: black;
}

#input-chat {
	background-color: lightgray;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
}

#texttosend {
	margin-left: 10px;
	border-radius: 5px;
	width: 74%;
}

#sendtext {
	background-color: #01AC99;
	padding: 3px 10px;
	border-radius: 5px;
	margin-right: 10px;
	margin-left: 8px;
	width: 17%;
}

#goback {
	margin-right: 20px;
	margin-top: 30px;
}

#goback a {
	background-color: white;
	color: #01AC99;
	padding: 8px;
	border-radius: 5px;
}


ul {
	list-style-position: inside;
}


form {
	margin-top: 20px;
	border-width: 2px;
	border-color: white;
	
}

@media (max-width: 992px) {
	.state-box {
		margin-top: 50px;
	}
	#friends-div, #schedule-div {
		margin: 40px 20px 0px 20px; 
		height: auto;
	}
}